<h2>이미지 업로드하기</h2>
<form action="/upload/image" enctype="multipart/form-data" method="post">
    <div>
        <label for="fieldPhoto">이미지</label>
        <input type="file" required accept="image/*" name = "photo">
    </div>
    <div>
        <button type = 'submit'>업로드하기</button>
    </div>
</form>